@page "/contato"
<header class="topo">
    <h1>Contato</h1>
</header>

<nav class="voltar">
    <a href="/">← Voltar para a página principal</a>
</nav>

<section class="contato">
    <h3>Informações para contato</h3>

    <p>Email: marcoseduardoribeirosouza@gmail.com</p>
    <p>Telefone: (69) 9 9264-8775</p>

</section>

@code {

}