@page "/historia"

<header class="topo">
    <h1>Minha História</h1>
</header>

<nav class="voltar">
    <a href="/">← Voltar para a página principal</a>
</nav>

<section class="minhaH">
    <h3>Marcos Eduardo Ribeiro Souza</h3>

    <p>Tenho 16 anos, nasci em 13/05/2009 e moro em Ji-Paraná Rondônia. Meu interesse por tecnologia começou após concluir o 9º ano do ensino fundamental.</p>

    <p>Sou estudante com foco em programação e tecnologia da informação, com conhecimentos em lógica de programação e POO em C#, além de noções de manutenção de computadores e introdução à TI.</p>

    <p>Atualmente estudo C#, JavaScript, HTML e CSS, sempre buscando aprender na prática, aplicando o que estudo em projetos e atividades reais.</p>

    <p>Quero continuar na área de Tecnologia da Informação e nunca desistir desse caminho. Também valorizo muito as pessoas próximas de mim e acredito em aproveitar cada momento da vida de forma leve e reflexiva.</p>
</section>

@code {

}